* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* canvas{
    align-self: center;
} */
/* .score {
    background-color: green;
    width: 100px;
    height: 100px;
    color: white;    
} */

.right {
    margin: 30px;
    font-size: 40px;
}

/* .score {
    font-size: 40px;
} */