* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splash-screen {
  height: 100vh;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: green; */
  height: 15rem;
  width: 60rem;
  flex-direction: column;
  margin-bottom: 10rem;
}
h1 {
  font-size: 8rem;
}
.title-tag p {
  font-size: 3rem;
}

h1,
.title-tag p {
  color: white;
  z-index: 1;
}

.difficulty {
  /* background-color: black; */
  height: 6rem;
  width: 80rem;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.difficulty button {
  width: 19rem;
  font-size: 1.5rem;
}

canvas {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: none;
}

html {
  /* background-color: lightblue; */
  background-image: linear-gradient(45deg, #09031a, #13043d);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  overflow: hidden;
}

.background {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000rem;
  height: 1000rem;
  /* background-image: linear-gradient(45deg, #09031a, #13043d); */
  /* background-color: lightblue; */
  z-index: 0;
}

.left,
p {
  color: white;
  font-size: 2rem;
}

.right {
  background: rgba(135, 134, 145, 0.2);
  margin-top: -70rem;
  margin-left: 104rem;
  width: 20rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px, solid, white;
  transition-duration: 0.4s;
  z-index: 9999;
}

.lives,
.right {
  background: rgba(135, 134, 145, 0.2);
  border-radius: 2rem;
  text-align: center;
}
/*
.lives {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 13rem;
  height: 4rem;
  z-index: 2;
  
}
*/
/* .life-less {
  background-color: red;
} */

.points {
  background-color: green;
}

.btn-wrap {
  width: 60rem;
  position: fixed;
  top: 62rem;
  left: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 99999;
}
.home-screen {
 height: 6rem;
 width: 20rem;
 font-size: 30px;
 /* z-index: 2; */
 top: 20px;
 left: 20px;
  transition-duration: 0.4s
}
.again {
  font-size: 30px;
  /* background-color:rgba(135, 134, 145, 0.2);
  
  border-radius: 2rem; */
  /* top: 80%;
  left: 42%; */
  width: 20rem;
  height: 6rem;

  /* position: absolute; */
  bottom: 13rem;
  transition-duration: 0.4s;
  /* position: relative; */
  /* display: none; */
}

.difficulty button,
.again,
.home-screen {
  text-decoration: none;
  color: white;
  background-color: rgba(135, 134, 145, 0.2);
  border: none;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
}
.difficulty

button:hover {
  background-color: rgba(150, 147, 173);
  width: 21rem;
  height: 7rem;
  z-index: 1;
}

.again:hover {
  background-color: rgba(150, 147, 173);
  width: 21rem;
  height: 7rem;
}
.home-screen:hover {
  background-color: rgba(150, 147, 173);
  width: 21rem;
  height: 7rem;
}

.right:hover {
  background-color: rgba(150, 147, 173);
  width: 21rem;
  height: 7rem;
  z-index: 9999;
}

.instructions {
  display: block;
}

.hide {
  display: none; 
}
.zindex {
  z-index: 1;
}